
version: '3.9'


services:
  db:
    image: postgres:15-alpine
    container_name: msale_db
    restart: always
    environment:
      POSTGRES_USER: msaleuser
      POSTGRES_PASSWORD: msalepassword
      POSTGRES_DB: msaledb
    env_file:
      - .env 

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data 

  web:  
    build: .
    container_name: msale_app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db 
    env_file:
      - .env 

volumes:
  postgres_data: